:root {
	--color-kvot-bright:#f3b87b; 	/* beige*/
	--color-kvot-accent:#bb6c5d;	/*red-brown*/
	--color-kvot-background:#352921;/*dark-brown*/
	--color-kvot-primary:#344126;	/*dark-green*/
}
body{
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  /*background: #1e3c72 !important;*/
     color: #344126;
     font-family: verdana, sans-serif;
}

#burger-menu {
  right:0px;
  cursor: pointer;
  height:30;
  width: 30px;
  margin: 35px;
  padding: 0px;
  overflow: visible;
  position: fixed;
  z-index: 1000000001;
}
#burger-menu span,
#burger-menu span:before,
#burger-menu span:after {
  background: var(--color-kvot-bright);
  display: block;
  height: 3px;
  opacity: 1;
  position: absolute;
  transition: 0.3s ease-in-out;
  right: 0px;
  width: 30px;
}
#burger-menu span:before,
#burger-menu span:after {
  content: "";
}
#burger-menu span:before {
  top: -10px;
}
#burger-menu span {
  top: 0px;
}
#burger-menu span:after {
  top: 10px;
}
#burger-menu.close span:before {
  top: 0px;
  transform: rotate(90deg);
}
#burger-menu.close span {
  top: 0px;
  transform: rotate(-45deg);
}
#burger-menu.close span:after {
  opacity: 0;
}

#menu {
  z-index: 1000000000;
  min-width: 100%;
  min-height: 100%;
  position: fixed;
  top: 0;
  height: 0;
  visibility: hidden;
  opacity: 0;
  text-align: center;
  padding-top: 20px;
  transition: all 0.3s ease-in-out;
}
#menu.overlay {
  visibility: visible;
  opacity: 1;
  padding-top: 100px;
  background: rgba(0, 0, 0, 0.85);
}
#menu ul {
  padding: 0;
}
#menu li {
  list-style: none;
}
#menu a {
  color: var(--color-kvot-bright);
  display: block;
  font-size: 32px;
  margin-bottom: 30px;
  text-decoration: none;
}
#menu a:hover {
  color: var(--color-kvot-accent);
}


header {
     display: grid;
     grid-template-columns: 150px auto 180px 80px;
     position: fixed;
     top: 0;
     left: 0;
     border-bottom: var(--color-kvot-accent) solid 1px;
     background: var(--color-kvot-background);
     color: var(--color-kvot-bright);
     height: 49px;
     width:100%;
     padding:10px;
}
 header .logo {
     margin-left: 0px;
     margin-top: 0px;
     text-align: left;
     height: 50px;
     transition: all 1s;
     transform-origin: 50% 50%;
}

header .logo:hover {
  fill: #bb6c5d;
  transform: scale(1.05);
}

footer {
   display: grid;
   position: fixed;
   bottom: 0;
   left: 0;
   border-top: var(--color-kvot-accent) solid 1px;
   background: var(--color-kvot-background);
   color: var(--color-kvot-bright);
   height: 24px;
   width:100%;
   padding:1px;
   text-align:center;
   font-size:15px;
   padding-top:5px;
}

.logolarge {
    position: fixed;
    top: 100px;
    left: 25vw;
    width: 50vw;
    height: 50vw;
    -webkit-animation-name: spin;
    -webkit-animation-duration: 50000ms;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -moz-animation-name: spin;
    -moz-animation-duration: 50000ms;
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: linear;
    -ms-animation-name: spin;
    -ms-animation-duration: 50000ms;
    -ms-animation-iteration-count: infinite;
    -ms-animation-timing-function: linear;
    animation-name: spin;
    animation-duration: 50000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@-ms-keyframes spin {
    from {
      -ms-transform: rotate(0deg);
    }
    to {
      -ms-transform: rotate(360deg);
    }
  }
  
  @-moz-keyframes spin {
    from {
      -moz-transform: rotate(0deg);
    }
    to {
      -moz-transform: rotate(360deg);
    }
  }
  
  @-webkit-keyframes spin {
    from {
      -webkit-transform: rotate(0deg);
    }
    to {
      -webkit-transform: rotate(360deg);
    }
  }
  
  @keyframes spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }

@font-face {
	font-family: RawengulkSans;
	src: url(../../vendors/font/RawengulkSans-094.otf);
}
h1 {
	font-family:RawengulkSans;
}
 a {
     color: #f3b87b;
     text-decoration: none;
}
 .smallsvg:hover {
     fill: #bb6c5d;
     transform: scale(1.05);
     cursor:pointer;
}
 .smallsvg {
     fill: #f3b87b;
     vertical-align: bottom;
     height: 15px;
     transition: all 0.2s;
     transform-origin: 50% 50%;
}
 .navbarsvg:hover {
     fill: #bb6c5d;
     transform: scale(1.2);
}
 .navbarsvg {
     padding-top:5px;
     fill: #f3b87b;
     vertical-align: middle;
     height: 40px;
     transition: all 1s;
     transform-origin: 50% 50%;
}
 .stRight{
    fill:#bb6c5d;
}
 .stTop{
    fill:#f3b87b;
}
 .stLeft{
    fill:#344126;
}
 .content {
     position: absolute;
     top: 70px;
     left: 0;
     height: calc(100vh - 101px);
     width:100%;
}
 .left {
     position: absolute;
     left: 0;
    /*border-right: #bb6c5d solid 1px;
    */
     width:329px;
     height:100%;
     padding-left:20px;
    /*background: #f3b87b;
    */
}
 .right {
     position: absolute;
     right: 0;
     width:calc(100% - 350px);
     height:100%;
}
#map {
    min-height: 500px;
    height: 100%;
    width: 100%;
    z-index: index 200000; 
  }
  .map {
    min-height: 500px;
    height: 100%;
    width: 100%;
    z-index: index 200000; 
  }